<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
<extension 
	point="org.eclipse.amalgam.explorer.contextual.core.contentProviderCategory">
      <category
            id="org.polarsys.capella.vp.atrium.contextual.explorer.queries.AtriumBasicElement.Parent"
            isTopLevel="true"
            name="Parent">
         <targetExplorerId
               id="CurrentElementExplorer">
         </targetExplorerId>
         <availableForType
               class="org.polarsys.capella.vp.atrium.Atrium.AtriumBasicElement">
         </availableForType>
         <categoryQuery>
            <basicQuery
                  class="org.polarsys.capella.vp.atrium.contextual.explorer.queries.atriumbasicelement.ParentQuery">
            </basicQuery>
         </categoryQuery>
      </category>	</extension>
<extension 
	point="org.eclipse.amalgam.explorer.contextual.core.contentProviderCategory">
      <category
            id="org.polarsys.capella.vp.atrium.contextual.explorer.queries.CFA_list.Parent"
            isTopLevel="true"
            name="Parent">
         <targetExplorerId
               id="CurrentElementExplorer">
         </targetExplorerId>
         <availableForType
               class="org.polarsys.capella.vp.atrium.Atrium.CFA_list">
         </availableForType>
         <categoryQuery>
            <basicQuery
                  class="org.polarsys.capella.vp.atrium.contextual.explorer.queries.cfa_list.ParentQuery">
            </basicQuery>
         </categoryQuery>
      </category>	</extension>
<extension 
	point="org.eclipse.amalgam.explorer.contextual.core.contentProviderCategory">
      <category
            id="org.polarsys.capella.vp.atrium.contextual.explorer.queries.sDG_list.Parent"
            isTopLevel="true"
            name="Parent">
         <targetExplorerId
               id="CurrentElementExplorer">
         </targetExplorerId>
         <availableForType
               class="org.polarsys.capella.vp.atrium.Atrium.sDG_list">
         </availableForType>
         <categoryQuery>
            <basicQuery
                  class="org.polarsys.capella.vp.atrium.contextual.explorer.queries.sdg_list.ParentQuery">
            </basicQuery>
         </categoryQuery>
      </category>	</extension>
<extension 
	point="org.eclipse.amalgam.explorer.contextual.core.contentProviderCategory">
      <category
            id="org.polarsys.capella.vp.atrium.contextual.explorer.queries.Assumption_list.Parent"
            isTopLevel="true"
            name="Parent">
         <targetExplorerId
               id="CurrentElementExplorer">
         </targetExplorerId>
         <availableForType
               class="org.polarsys.capella.vp.atrium.Atrium.Assumption_list">
         </availableForType>
         <categoryQuery>
            <basicQuery
                  class="org.polarsys.capella.vp.atrium.contextual.explorer.queries.assumption_list.ParentQuery">
            </basicQuery>
         </categoryQuery>
      </category>	</extension>
<extension 
	point="org.eclipse.amalgam.explorer.contextual.core.contentProviderCategory">
      <category
            id="org.polarsys.capella.vp.atrium.contextual.explorer.queries.DG_list.Parent"
            isTopLevel="true"
            name="Parent">
         <targetExplorerId
               id="CurrentElementExplorer">
         </targetExplorerId>
         <availableForType
               class="org.polarsys.capella.vp.atrium.Atrium.DG_list">
         </availableForType>
         <categoryQuery>
            <basicQuery
                  class="org.polarsys.capella.vp.atrium.contextual.explorer.queries.dg_list.ParentQuery">
            </basicQuery>
         </categoryQuery>
      </category>	</extension>
<extension 
	point="org.eclipse.amalgam.explorer.contextual.core.contentProviderCategory">
      <category
            id="org.polarsys.capella.vp.atrium.contextual.explorer.queries.DA_list.Parent"
            isTopLevel="true"
            name="Parent">
         <targetExplorerId
               id="CurrentElementExplorer">
         </targetExplorerId>
         <availableForType
               class="org.polarsys.capella.vp.atrium.Atrium.DA_list">
         </availableForType>
         <categoryQuery>
            <basicQuery
                  class="org.polarsys.capella.vp.atrium.contextual.explorer.queries.da_list.ParentQuery">
            </basicQuery>
         </categoryQuery>
      </category>	</extension>
<extension 
	point="org.eclipse.amalgam.explorer.contextual.core.contentProviderCategory">
      <category
            id="org.polarsys.capella.vp.atrium.contextual.explorer.queries.Failure_list.Parent"
            isTopLevel="true"
            name="Parent">
         <targetExplorerId
               id="CurrentElementExplorer">
         </targetExplorerId>
         <availableForType
               class="org.polarsys.capella.vp.atrium.Atrium.Failure_list">
         </availableForType>
         <categoryQuery>
            <basicQuery
                  class="org.polarsys.capella.vp.atrium.contextual.explorer.queries.failure_list.ParentQuery">
            </basicQuery>
         </categoryQuery>
      </category>	</extension>
<extension 
	point="org.eclipse.amalgam.explorer.contextual.core.contentProviderCategory">
      <category
            id="org.polarsys.capella.vp.atrium.contextual.explorer.queries.ODD_list.Parent"
            isTopLevel="true"
            name="Parent">
         <targetExplorerId
               id="CurrentElementExplorer">
         </targetExplorerId>
         <availableForType
               class="org.polarsys.capella.vp.atrium.Atrium.ODD_list">
         </availableForType>
         <categoryQuery>
            <basicQuery
                  class="org.polarsys.capella.vp.atrium.contextual.explorer.queries.odd_list.ParentQuery">
            </basicQuery>
         </categoryQuery>
      </category>	</extension>
<extension 
	point="org.eclipse.amalgam.explorer.contextual.core.contentProviderCategory">
      <category
            id="org.polarsys.capella.vp.atrium.contextual.explorer.queries.FR_list.Parent"
            isTopLevel="true"
            name="Parent">
         <targetExplorerId
               id="CurrentElementExplorer">
         </targetExplorerId>
         <availableForType
               class="org.polarsys.capella.vp.atrium.Atrium.FR_list">
         </availableForType>
         <categoryQuery>
            <basicQuery
                  class="org.polarsys.capella.vp.atrium.contextual.explorer.queries.fr_list.ParentQuery">
            </basicQuery>
         </categoryQuery>
      </category>	</extension>
<extension 
	point="org.eclipse.amalgam.explorer.contextual.core.contentProviderCategory">
      <category
            id="org.polarsys.capella.vp.atrium.contextual.explorer.queries.CFA.Parent"
            isTopLevel="true"
            name="Parent">
         <targetExplorerId
               id="CurrentElementExplorer">
         </targetExplorerId>
         <availableForType
               class="org.polarsys.capella.vp.atrium.Atrium.CFA">
         </availableForType>
         <categoryQuery>
            <basicQuery
                  class="org.polarsys.capella.vp.atrium.contextual.explorer.queries.cfa.ParentQuery">
            </basicQuery>
         </categoryQuery>
      </category>      <category
            id="org.polarsys.capella.vp.atrium.contextual.explorer.queries.CFA.ReferencedViewpointElements"
            isTopLevel="true"
            name="Referenced viewpoint elements">
         <targetExplorerId
               id="ReferencedElementExplorer">
         </targetExplorerId>
         <availableForType
               class="org.polarsys.capella.vp.atrium.Atrium.CFA">
         </availableForType>
         <categoryQuery>
            <basicQuery
                  class="org.polarsys.capella.vp.atrium.contextual.explorer.queries.cfa.ReferencedViewpointElementQuery">
            </basicQuery>
         </categoryQuery>
      </category>      <category
            id="org.polarsys.capella.vp.atrium.contextual.explorer.queries.CFA.ReferencedMelodyAdvanceElements"
            isTopLevel="true"
            name="Referenced Melody Advance elements">
         <targetExplorerId
               id="ReferencedElementExplorer">
         </targetExplorerId>
         <availableForType
               class="org.polarsys.capella.vp.atrium.Atrium.CFA">
         </availableForType>
         <categoryQuery>
            <basicQuery
                  class="org.polarsys.capella.vp.atrium.contextual.explorer.queries.cfa.ReferencedExternalElementQuery">
            </basicQuery>
         </categoryQuery>
      </category>	</extension>
<extension 
	point="org.eclipse.amalgam.explorer.contextual.core.contentProviderCategory">
      <category
            id="org.polarsys.capella.vp.atrium.contextual.explorer.queries.Assumption.Parent"
            isTopLevel="true"
            name="Parent">
         <targetExplorerId
               id="CurrentElementExplorer">
         </targetExplorerId>
         <availableForType
               class="org.polarsys.capella.vp.atrium.Atrium.Assumption">
         </availableForType>
         <categoryQuery>
            <basicQuery
                  class="org.polarsys.capella.vp.atrium.contextual.explorer.queries.assumption.ParentQuery">
            </basicQuery>
         </categoryQuery>
      </category>      <category
            id="org.polarsys.capella.vp.atrium.contextual.explorer.queries.Assumption.ReferencedViewpointElements"
            isTopLevel="true"
            name="Referenced viewpoint elements">
         <targetExplorerId
               id="ReferencedElementExplorer">
         </targetExplorerId>
         <availableForType
               class="org.polarsys.capella.vp.atrium.Atrium.Assumption">
         </availableForType>
         <categoryQuery>
            <basicQuery
                  class="org.polarsys.capella.vp.atrium.contextual.explorer.queries.assumption.ReferencedViewpointElementQuery">
            </basicQuery>
         </categoryQuery>
      </category>	</extension>
<extension 
	point="org.eclipse.amalgam.explorer.contextual.core.contentProviderCategory">
      <category
            id="org.polarsys.capella.vp.atrium.contextual.explorer.queries.DG.Parent"
            isTopLevel="true"
            name="Parent">
         <targetExplorerId
               id="CurrentElementExplorer">
         </targetExplorerId>
         <availableForType
               class="org.polarsys.capella.vp.atrium.Atrium.DG">
         </availableForType>
         <categoryQuery>
            <basicQuery
                  class="org.polarsys.capella.vp.atrium.contextual.explorer.queries.dg.ParentQuery">
            </basicQuery>
         </categoryQuery>
      </category>      <category
            id="org.polarsys.capella.vp.atrium.contextual.explorer.queries.DG.ReferencedViewpointElements"
            isTopLevel="true"
            name="Referenced viewpoint elements">
         <targetExplorerId
               id="ReferencedElementExplorer">
         </targetExplorerId>
         <availableForType
               class="org.polarsys.capella.vp.atrium.Atrium.DG">
         </availableForType>
         <categoryQuery>
            <basicQuery
                  class="org.polarsys.capella.vp.atrium.contextual.explorer.queries.dg.ReferencedViewpointElementQuery">
            </basicQuery>
         </categoryQuery>
      </category>	</extension>
<extension 
	point="org.eclipse.amalgam.explorer.contextual.core.contentProviderCategory">
      <category
            id="org.polarsys.capella.vp.atrium.contextual.explorer.queries.sDG.Parent"
            isTopLevel="true"
            name="Parent">
         <targetExplorerId
               id="CurrentElementExplorer">
         </targetExplorerId>
         <availableForType
               class="org.polarsys.capella.vp.atrium.Atrium.sDG">
         </availableForType>
         <categoryQuery>
            <basicQuery
                  class="org.polarsys.capella.vp.atrium.contextual.explorer.queries.sdg.ParentQuery">
            </basicQuery>
         </categoryQuery>
      </category>	</extension>
<extension 
	point="org.eclipse.amalgam.explorer.contextual.core.contentProviderCategory">
      <category
            id="org.polarsys.capella.vp.atrium.contextual.explorer.queries.DA.Parent"
            isTopLevel="true"
            name="Parent">
         <targetExplorerId
               id="CurrentElementExplorer">
         </targetExplorerId>
         <availableForType
               class="org.polarsys.capella.vp.atrium.Atrium.DA">
         </availableForType>
         <categoryQuery>
            <basicQuery
                  class="org.polarsys.capella.vp.atrium.contextual.explorer.queries.da.ParentQuery">
            </basicQuery>
         </categoryQuery>
      </category>	</extension>
<extension 
	point="org.eclipse.amalgam.explorer.contextual.core.contentProviderCategory">
      <category
            id="org.polarsys.capella.vp.atrium.contextual.explorer.queries.ElementStateAtrium.Parent"
            isTopLevel="true"
            name="Parent">
         <targetExplorerId
               id="CurrentElementExplorer">
         </targetExplorerId>
         <availableForType
               class="org.polarsys.capella.vp.atrium.Atrium.ElementStateAtrium">
         </availableForType>
         <categoryQuery>
            <basicQuery
                  class="org.polarsys.capella.vp.atrium.contextual.explorer.queries.elementstateatrium.ParentQuery">
            </basicQuery>
         </categoryQuery>
      </category>	</extension>
<extension 
	point="org.eclipse.amalgam.explorer.contextual.core.contentProviderCategory">
      <category
            id="org.polarsys.capella.vp.atrium.contextual.explorer.queries.FailureMode.Parent"
            isTopLevel="true"
            name="Parent">
         <targetExplorerId
               id="CurrentElementExplorer">
         </targetExplorerId>
         <availableForType
               class="org.polarsys.capella.vp.atrium.Atrium.FailureMode">
         </availableForType>
         <categoryQuery>
            <basicQuery
                  class="org.polarsys.capella.vp.atrium.contextual.explorer.queries.failuremode.ParentQuery">
            </basicQuery>
         </categoryQuery>
      </category>      <category
            id="org.polarsys.capella.vp.atrium.contextual.explorer.queries.FailureMode.ReferencingViewpointElements"
            isTopLevel="true"
            name="Referencing Viewpoint Element">
         <targetExplorerId
               id="ReferencingElementExplorer">
         </targetExplorerId>
         <availableForType
               class="org.polarsys.capella.vp.atrium.Atrium.FailureMode">
         </availableForType>
         <categoryQuery>
            <basicQuery
                  class="org.polarsys.capella.vp.atrium.contextual.explorer.queries.failuremode.ReferencingViewpointElementQuery">
            </basicQuery>
         </categoryQuery>
      </category>	</extension>
<extension 
	point="org.eclipse.amalgam.explorer.contextual.core.contentProviderCategory">
      <category
            id="org.polarsys.capella.vp.atrium.contextual.explorer.queries.ODD.Parent"
            isTopLevel="true"
            name="Parent">
         <targetExplorerId
               id="CurrentElementExplorer">
         </targetExplorerId>
         <availableForType
               class="org.polarsys.capella.vp.atrium.Atrium.ODD">
         </availableForType>
         <categoryQuery>
            <basicQuery
                  class="org.polarsys.capella.vp.atrium.contextual.explorer.queries.odd.ParentQuery">
            </basicQuery>
         </categoryQuery>
      </category>      <category
            id="org.polarsys.capella.vp.atrium.contextual.explorer.queries.ODD.ReferencedViewpointElements"
            isTopLevel="true"
            name="Referenced viewpoint elements">
         <targetExplorerId
               id="ReferencedElementExplorer">
         </targetExplorerId>
         <availableForType
               class="org.polarsys.capella.vp.atrium.Atrium.ODD">
         </availableForType>
         <categoryQuery>
            <basicQuery
                  class="org.polarsys.capella.vp.atrium.contextual.explorer.queries.odd.ReferencedViewpointElementQuery">
            </basicQuery>
         </categoryQuery>
      </category>	</extension>
<extension 
	point="org.eclipse.amalgam.explorer.contextual.core.contentProviderCategory">
      <category
            id="org.polarsys.capella.vp.atrium.contextual.explorer.queries.FR.Parent"
            isTopLevel="true"
            name="Parent">
         <targetExplorerId
               id="CurrentElementExplorer">
         </targetExplorerId>
         <availableForType
               class="org.polarsys.capella.vp.atrium.Atrium.FR">
         </availableForType>
         <categoryQuery>
            <basicQuery
                  class="org.polarsys.capella.vp.atrium.contextual.explorer.queries.fr.ParentQuery">
            </basicQuery>
         </categoryQuery>
      </category>      <category
            id="org.polarsys.capella.vp.atrium.contextual.explorer.queries.FR.ReferencedViewpointElements"
            isTopLevel="true"
            name="Referenced viewpoint elements">
         <targetExplorerId
               id="ReferencedElementExplorer">
         </targetExplorerId>
         <availableForType
               class="org.polarsys.capella.vp.atrium.Atrium.FR">
         </availableForType>
         <categoryQuery>
            <basicQuery
                  class="org.polarsys.capella.vp.atrium.contextual.explorer.queries.fr.ReferencedViewpointElementQuery">
            </basicQuery>
         </categoryQuery>
      </category>	</extension>
</plugin>