<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
<extension 
	point="org.eclipse.amalgam.explorer.contextual.core.contentProviderCategory">
      <category
            id="org.polarsys.capella.vp.atrium.contextual.explorer.queries.CFA_list.Parent"
            isTopLevel="true"
            name="Parent">
         <targetExplorerId
               id="CurrentElementExplorer">
         </targetExplorerId>
         <availableForType
               class="org.polarsys.capella.vp.atrium.Atrium.CFA_list">
         </availableForType>
         <categoryQuery>
            <basicQuery
                  class="org.polarsys.capella.vp.atrium.contextual.explorer.queries.cfa_list.ParentQuery">
            </basicQuery>
         </categoryQuery>
      </category>      <category
            id="org.polarsys.capella.vp.atrium.contextual.explorer.queries.CFA_list.OwnedViewpointElements"
            isTopLevel="true"
            name="Owned Viewpoint elements">
         <targetExplorerId
               id="CurrentElementExplorer">
         </targetExplorerId>
         <availableForType
               class="org.polarsys.capella.vp.atrium.Atrium.CFA_list">
         </availableForType>
         <categoryQuery>
            <basicQuery
                  class="org.polarsys.capella.vp.atrium.contextual.explorer.queries.cfa_list.OwnedViewpointElementQuery">
            </basicQuery>
         </categoryQuery>
      </category>	</extension>
<extension 
	point="org.eclipse.amalgam.explorer.contextual.core.contentProviderCategory">
      <category
            id="org.polarsys.capella.vp.atrium.contextual.explorer.queries.Assumption_list.Parent"
            isTopLevel="true"
            name="Parent">
         <targetExplorerId
               id="CurrentElementExplorer">
         </targetExplorerId>
         <availableForType
               class="org.polarsys.capella.vp.atrium.Atrium.Assumption_list">
         </availableForType>
         <categoryQuery>
            <basicQuery
                  class="org.polarsys.capella.vp.atrium.contextual.explorer.queries.assumption_list.ParentQuery">
            </basicQuery>
         </categoryQuery>
      </category>      <category
            id="org.polarsys.capella.vp.atrium.contextual.explorer.queries.Assumption_list.OwnedViewpointElements"
            isTopLevel="true"
            name="Owned Viewpoint elements">
         <targetExplorerId
               id="CurrentElementExplorer">
         </targetExplorerId>
         <availableForType
               class="org.polarsys.capella.vp.atrium.Atrium.Assumption_list">
         </availableForType>
         <categoryQuery>
            <basicQuery
                  class="org.polarsys.capella.vp.atrium.contextual.explorer.queries.assumption_list.OwnedViewpointElementQuery">
            </basicQuery>
         </categoryQuery>
      </category>	</extension>
<extension 
	point="org.eclipse.amalgam.explorer.contextual.core.contentProviderCategory">
      <category
            id="org.polarsys.capella.vp.atrium.contextual.explorer.queries.DG_list.Parent"
            isTopLevel="true"
            name="Parent">
         <targetExplorerId
               id="CurrentElementExplorer">
         </targetExplorerId>
         <availableForType
               class="org.polarsys.capella.vp.atrium.Atrium.DG_list">
         </availableForType>
         <categoryQuery>
            <basicQuery
                  class="org.polarsys.capella.vp.atrium.contextual.explorer.queries.dg_list.ParentQuery">
            </basicQuery>
         </categoryQuery>
      </category>      <category
            id="org.polarsys.capella.vp.atrium.contextual.explorer.queries.DG_list.OwnedViewpointElements"
            isTopLevel="true"
            name="Owned Viewpoint elements">
         <targetExplorerId
               id="CurrentElementExplorer">
         </targetExplorerId>
         <availableForType
               class="org.polarsys.capella.vp.atrium.Atrium.DG_list">
         </availableForType>
         <categoryQuery>
            <basicQuery
                  class="org.polarsys.capella.vp.atrium.contextual.explorer.queries.dg_list.OwnedViewpointElementQuery">
            </basicQuery>
         </categoryQuery>
      </category>	</extension>
<extension 
	point="org.eclipse.amalgam.explorer.contextual.core.contentProviderCategory">
      <category
            id="org.polarsys.capella.vp.atrium.contextual.explorer.queries.CFA.Parent"
            isTopLevel="true"
            name="Parent">
         <targetExplorerId
               id="CurrentElementExplorer">
         </targetExplorerId>
         <availableForType
               class="org.polarsys.capella.vp.atrium.Atrium.CFA">
         </availableForType>
         <categoryQuery>
            <basicQuery
                  class="org.polarsys.capella.vp.atrium.contextual.explorer.queries.cfa.ParentQuery">
            </basicQuery>
         </categoryQuery>
      </category>      <category
            id="org.polarsys.capella.vp.atrium.contextual.explorer.queries.CFA.ReferencedViewpointElements"
            isTopLevel="true"
            name="Referenced viewpoint elements">
         <targetExplorerId
               id="ReferencedElementExplorer">
         </targetExplorerId>
         <availableForType
               class="org.polarsys.capella.vp.atrium.Atrium.CFA">
         </availableForType>
         <categoryQuery>
            <basicQuery
                  class="org.polarsys.capella.vp.atrium.contextual.explorer.queries.cfa.ReferencedViewpointElementQuery">
            </basicQuery>
         </categoryQuery>
      </category>      <category
            id="org.polarsys.capella.vp.atrium.contextual.explorer.queries.CFA.ReferencedMelodyAdvanceElements"
            isTopLevel="true"
            name="Referenced Melody Advance elements">
         <targetExplorerId
               id="ReferencedElementExplorer">
         </targetExplorerId>
         <availableForType
               class="org.polarsys.capella.vp.atrium.Atrium.CFA">
         </availableForType>
         <categoryQuery>
            <basicQuery
                  class="org.polarsys.capella.vp.atrium.contextual.explorer.queries.cfa.ReferencedExternalElementQuery">
            </basicQuery>
         </categoryQuery>
      </category>	</extension>
<extension 
	point="org.eclipse.amalgam.explorer.contextual.core.contentProviderCategory">
      <category
            id="org.polarsys.capella.vp.atrium.contextual.explorer.queries.Assumption.Parent"
            isTopLevel="true"
            name="Parent">
         <targetExplorerId
               id="CurrentElementExplorer">
         </targetExplorerId>
         <availableForType
               class="org.polarsys.capella.vp.atrium.Atrium.Assumption">
         </availableForType>
         <categoryQuery>
            <basicQuery
                  class="org.polarsys.capella.vp.atrium.contextual.explorer.queries.assumption.ParentQuery">
            </basicQuery>
         </categoryQuery>
      </category>      <category
            id="org.polarsys.capella.vp.atrium.contextual.explorer.queries.Assumption.ReferencingViewpointElements"
            isTopLevel="true"
            name="Referencing Viewpoint Element">
         <targetExplorerId
               id="ReferencingElementExplorer">
         </targetExplorerId>
         <availableForType
               class="org.polarsys.capella.vp.atrium.Atrium.Assumption">
         </availableForType>
         <categoryQuery>
            <basicQuery
                  class="org.polarsys.capella.vp.atrium.contextual.explorer.queries.assumption.ReferencingViewpointElementQuery">
            </basicQuery>
         </categoryQuery>
      </category>	</extension>
<extension 
	point="org.eclipse.amalgam.explorer.contextual.core.contentProviderCategory">
      <category
            id="org.polarsys.capella.vp.atrium.contextual.explorer.queries.DG.Parent"
            isTopLevel="true"
            name="Parent">
         <targetExplorerId
               id="CurrentElementExplorer">
         </targetExplorerId>
         <availableForType
               class="org.polarsys.capella.vp.atrium.Atrium.DG">
         </availableForType>
         <categoryQuery>
            <basicQuery
                  class="org.polarsys.capella.vp.atrium.contextual.explorer.queries.dg.ParentQuery">
            </basicQuery>
         </categoryQuery>
      </category>	</extension>
<extension 
	point="org.eclipse.amalgam.explorer.contextual.core.contentProviderCategory">
      <category
            id="org.polarsys.capella.vp.atrium.contextual.explorer.queries.ElementStateAtrium.Parent"
            isTopLevel="true"
            name="Parent">
         <targetExplorerId
               id="CurrentElementExplorer">
         </targetExplorerId>
         <availableForType
               class="org.polarsys.capella.vp.atrium.Atrium.ElementStateAtrium">
         </availableForType>
         <categoryQuery>
            <basicQuery
                  class="org.polarsys.capella.vp.atrium.contextual.explorer.queries.elementstateatrium.ParentQuery">
            </basicQuery>
         </categoryQuery>
      </category>	</extension>
</plugin>