<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>



<plugin>

   
<!--@generated-->
  <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Atrium -->
      <package class="org.polarsys.capella.vp.atrium.Atrium.AtriumPackage" genModel="models/Atrium.genmodel" uri="http://www.polarsys.org/capella/Atrium"/>
   </extension>

   
<!--@generated-->
  <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated Atrium -->
      <parser class="org.polarsys.capella.vp.atrium.Atrium.util.AtriumResourceFactoryImpl" type="atrium"/>
   </extension>


<!--@generated-->
  <extension point="org.polarsys.capella.common.model.helpers.helper">
    <helperImpl class="org.polarsys.capella.vp.atrium.model.helpers.AtriumPackageHelper" nsURI="http://www.polarsys.org/capella/Atrium"/>
  </extension>
</plugin>
