<?xml version="1.0" encoding="UTF-8"?> 
<?eclipse version="3.4"?>
<plugin>
<extension
	point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
	<propertyTabs 
		contributorId="org.eclipse.sirius.diagram.ui">
			
			<propertyTab
		    	afterTab="BaseSiriusDiagram"
		        category="semantic &amp; extension"
		        id="Atrium_AtriumBasicElement"
		        label="Atrium - Basic">
		    </propertyTab> 
			
			<propertyTab
		    	afterTab="BaseSiriusDiagram"
		        category="semantic &amp; extension"
		        id="Atrium_CFA"
		        label="Atrium - CFA">
		    </propertyTab> 
			
			<propertyTab
		    	afterTab="BaseSiriusDiagram"
		        category="semantic &amp; extension"
		        id="Atrium_Assumption"
		        label="Atrium - Assumption">
		    </propertyTab> 
			
			<propertyTab
		    	afterTab="BaseSiriusDiagram"
		        category="semantic &amp; extension"
		        id="Atrium_DG"
		        label="Atrium - DG">
		    </propertyTab> 
			
			<propertyTab
		    	afterTab="BaseSiriusDiagram"
		        category="semantic &amp; extension"
		        id="Atrium_sDG"
		        label="Atrium - sDG">
		    </propertyTab> 
			
			<propertyTab
		    	afterTab="BaseSiriusDiagram"
		        category="semantic &amp; extension"
		        id="Atrium_DA"
		        label="Atrium - DA">
		    </propertyTab> 
			
			<propertyTab
		    	afterTab="BaseSiriusDiagram"
		        category="semantic &amp; extension"
		        id="Atrium_FailureMode"
		        label="Atrium - FailureMode">
		    </propertyTab> 
			
			<propertyTab
		    	afterTab="BaseSiriusDiagram"
		        category="semantic &amp; extension"
		        id="Atrium_ODD"
		        label="Atrium - ODD">
		    </propertyTab> 
			
			<propertyTab
		    	afterTab="BaseSiriusDiagram"
		        category="semantic &amp; extension"
		        id="Atrium_FR"
		        label="Atrium - FR">
		    </propertyTab> 
			
	</propertyTabs>
</extension> 
<extension
	point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
	<propertyTabs 
		contributorId="org.polarsys.capella.core.data.capellamodeller.properties">
			
			<propertyTab
		    	afterTab="BaseCapella"
		        category="default"
		        id="Atrium_AtriumBasicElement"
		        label="Atrium - Basic">
		    </propertyTab> 
			
			<propertyTab
		    	afterTab="BaseCapella"
		        category="default"
		        id="Atrium_CFA"
		        label="Atrium - CFA">
		    </propertyTab> 
			
			<propertyTab
		    	afterTab="BaseCapella"
		        category="default"
		        id="Atrium_Assumption"
		        label="Atrium - Assumption">
		    </propertyTab> 
			
			<propertyTab
		    	afterTab="BaseCapella"
		        category="default"
		        id="Atrium_DG"
		        label="Atrium - DG">
		    </propertyTab> 
			
			<propertyTab
		    	afterTab="BaseCapella"
		        category="default"
		        id="Atrium_sDG"
		        label="Atrium - sDG">
		    </propertyTab> 
			
			<propertyTab
		    	afterTab="BaseCapella"
		        category="default"
		        id="Atrium_DA"
		        label="Atrium - DA">
		    </propertyTab> 
			
			<propertyTab
		    	afterTab="BaseCapella"
		        category="default"
		        id="Atrium_FailureMode"
		        label="Atrium - FailureMode">
		    </propertyTab> 
			
			<propertyTab
		    	afterTab="BaseCapella"
		        category="default"
		        id="Atrium_ODD"
		        label="Atrium - ODD">
		    </propertyTab> 
			
			<propertyTab
		    	afterTab="BaseCapella"
		        category="default"
		        id="Atrium_FR"
		        label="Atrium - FR">
		    </propertyTab> 
			
	</propertyTabs>
</extension> 
<extension
	point="org.eclipse.ui.views.properties.tabbed.propertySections">
		<propertySections
			contributorId="org.eclipse.sirius.diagram.ui">
			<propertySection
		    	class="org.polarsys.capella.vp.atrium.ui.sections.Atrium_AtriumBasicElement_AtriumSection"
		        filter="org.polarsys.capella.vp.atrium.ui.sections.Atrium_AtriumBasicElement_AtriumSection"
		        id="Atrium_AtriumBasicElement.AtriumSection"
		        tab="Atrium_AtriumBasicElement">
		        
		    </propertySection> 
		    			<propertySection
		    	class="org.polarsys.capella.vp.atrium.ui.sections.Atrium_CFA_Atrium_CFA_Section"
		        filter="org.polarsys.capella.vp.atrium.ui.sections.Atrium_CFA_Atrium_CFA_Section"
		        id="Atrium_CFA.Atrium_CFA_Section"
		        tab="Atrium_CFA">
		        
		    </propertySection> 
		    			<propertySection
		    	class="org.polarsys.capella.vp.atrium.ui.sections.Atrium_Assumption_Atrium_Assumption_Section"
		        filter="org.polarsys.capella.vp.atrium.ui.sections.Atrium_Assumption_Atrium_Assumption_Section"
		        id="Atrium_Assumption.Atrium_Assumption_Section"
		        tab="Atrium_Assumption">
		        
		    </propertySection> 
		    			<propertySection
		    	class="org.polarsys.capella.vp.atrium.ui.sections.Atrium_DG_Atrium_DG_Section"
		        filter="org.polarsys.capella.vp.atrium.ui.sections.Atrium_DG_Atrium_DG_Section"
		        id="Atrium_DG.Atrium_DG_Section"
		        tab="Atrium_DG">
		        
		    </propertySection> 
		    			<propertySection
		    	class="org.polarsys.capella.vp.atrium.ui.sections.Atrium_sDG_Atrium_sDG_Section"
		        filter="org.polarsys.capella.vp.atrium.ui.sections.Atrium_sDG_Atrium_sDG_Section"
		        id="Atrium_sDG.Atrium_sDG_Section"
		        tab="Atrium_sDG">
		        
		    </propertySection> 
		    			<propertySection
		    	class="org.polarsys.capella.vp.atrium.ui.sections.Atrium_DA_Atrium_DA_Section"
		        filter="org.polarsys.capella.vp.atrium.ui.sections.Atrium_DA_Atrium_DA_Section"
		        id="Atrium_DA.Atrium_DA_Section"
		        tab="Atrium_DA">
		        
		    </propertySection> 
		    			<propertySection
		    	class="org.polarsys.capella.vp.atrium.ui.sections.Atrium_FailureMode_Atrium_FailureMode_Section"
		        filter="org.polarsys.capella.vp.atrium.ui.sections.Atrium_FailureMode_Atrium_FailureMode_Section"
		        id="Atrium_FailureMode.Atrium_FailureMode_Section"
		        tab="Atrium_FailureMode">
		        
		    </propertySection> 
		    			<propertySection
		    	class="org.polarsys.capella.vp.atrium.ui.sections.Atrium_ODD_Atrium_ODD_Section"
		        filter="org.polarsys.capella.vp.atrium.ui.sections.Atrium_ODD_Atrium_ODD_Section"
		        id="Atrium_ODD.Atrium_ODD_Section"
		        tab="Atrium_ODD">
		        
		    </propertySection> 
		    			<propertySection
		    	class="org.polarsys.capella.vp.atrium.ui.sections.Atrium_FR_Atrium_FR_Section"
		        filter="org.polarsys.capella.vp.atrium.ui.sections.Atrium_FR_Atrium_FR_Section"
		        id="Atrium_FR.Atrium_FR_Section"
		        tab="Atrium_FR">
		        
		    </propertySection> 
		    </propertySections>
</extension>
<extension
	point="org.eclipse.ui.views.properties.tabbed.propertySections">
		<propertySections
			contributorId="org.polarsys.capella.core.data.capellamodeller.properties">
			<propertySection
		    	class="org.polarsys.capella.vp.atrium.ui.sections.Atrium_AtriumBasicElement_AtriumSection"
		        filter="org.polarsys.capella.vp.atrium.ui.sections.Atrium_AtriumBasicElement_AtriumSection"
		        id="Atrium_AtriumBasicElement.AtriumSection"
		        tab="Atrium_AtriumBasicElement">
		        
		    </propertySection> 
		    			<propertySection
		    	class="org.polarsys.capella.vp.atrium.ui.sections.Atrium_CFA_Atrium_CFA_Section"
		        filter="org.polarsys.capella.vp.atrium.ui.sections.Atrium_CFA_Atrium_CFA_Section"
		        id="Atrium_CFA.Atrium_CFA_Section"
		        tab="Atrium_CFA">
		        
		    </propertySection> 
		    			<propertySection
		    	class="org.polarsys.capella.vp.atrium.ui.sections.Atrium_Assumption_Atrium_Assumption_Section"
		        filter="org.polarsys.capella.vp.atrium.ui.sections.Atrium_Assumption_Atrium_Assumption_Section"
		        id="Atrium_Assumption.Atrium_Assumption_Section"
		        tab="Atrium_Assumption">
		        
		    </propertySection> 
		    			<propertySection
		    	class="org.polarsys.capella.vp.atrium.ui.sections.Atrium_DG_Atrium_DG_Section"
		        filter="org.polarsys.capella.vp.atrium.ui.sections.Atrium_DG_Atrium_DG_Section"
		        id="Atrium_DG.Atrium_DG_Section"
		        tab="Atrium_DG">
		        
		    </propertySection> 
		    			<propertySection
		    	class="org.polarsys.capella.vp.atrium.ui.sections.Atrium_sDG_Atrium_sDG_Section"
		        filter="org.polarsys.capella.vp.atrium.ui.sections.Atrium_sDG_Atrium_sDG_Section"
		        id="Atrium_sDG.Atrium_sDG_Section"
		        tab="Atrium_sDG">
		        
		    </propertySection> 
		    			<propertySection
		    	class="org.polarsys.capella.vp.atrium.ui.sections.Atrium_DA_Atrium_DA_Section"
		        filter="org.polarsys.capella.vp.atrium.ui.sections.Atrium_DA_Atrium_DA_Section"
		        id="Atrium_DA.Atrium_DA_Section"
		        tab="Atrium_DA">
		        
		    </propertySection> 
		    			<propertySection
		    	class="org.polarsys.capella.vp.atrium.ui.sections.Atrium_FailureMode_Atrium_FailureMode_Section"
		        filter="org.polarsys.capella.vp.atrium.ui.sections.Atrium_FailureMode_Atrium_FailureMode_Section"
		        id="Atrium_FailureMode.Atrium_FailureMode_Section"
		        tab="Atrium_FailureMode">
		        
		    </propertySection> 
		    			<propertySection
		    	class="org.polarsys.capella.vp.atrium.ui.sections.Atrium_ODD_Atrium_ODD_Section"
		        filter="org.polarsys.capella.vp.atrium.ui.sections.Atrium_ODD_Atrium_ODD_Section"
		        id="Atrium_ODD.Atrium_ODD_Section"
		        tab="Atrium_ODD">
		        
		    </propertySection> 
		    			<propertySection
		    	class="org.polarsys.capella.vp.atrium.ui.sections.Atrium_FR_Atrium_FR_Section"
		        filter="org.polarsys.capella.vp.atrium.ui.sections.Atrium_FR_Atrium_FR_Section"
		        id="Atrium_FR.Atrium_FR_Section"
		        tab="Atrium_FR">
		        
		    </propertySection> 
		    </propertySections>
</extension>
</plugin>