<?xml version="1.0" encoding="UTF-8"?> 
<?eclipse version="3.4"?>
<plugin>
<extension
	point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
	<propertyTabs 
		contributorId="org.eclipse.sirius.diagram.ui">
			
			<propertyTab
		    	afterTab="BaseSiriusDiagram"
		        category="semantic &amp; extension"
		        id="Atrium_CFA"
		        label="Atrium">
		    </propertyTab> 
			
			<propertyTab
		    	afterTab="BaseSiriusDiagram"
		        category="semantic &amp; extension"
		        id="Atrium_Assumption"
		        label="Atrium">
		    </propertyTab> 
			
			<propertyTab
		    	afterTab="BaseSiriusDiagram"
		        category="semantic &amp; extension"
		        id="Atrium_DG"
		        label="Atrium">
		    </propertyTab> 
			
	</propertyTabs>
</extension> 
<extension
	point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
	<propertyTabs 
		contributorId="org.polarsys.capella.core.data.capellamodeller.properties">
			
			<propertyTab
		    	afterTab="BaseCapella"
		        category="default"
		        id="Atrium_CFA"
		        label="Atrium">
		    </propertyTab> 
			
			<propertyTab
		    	afterTab="BaseCapella"
		        category="default"
		        id="Atrium_Assumption"
		        label="Atrium">
		    </propertyTab> 
			
			<propertyTab
		    	afterTab="BaseCapella"
		        category="default"
		        id="Atrium_DG"
		        label="Atrium">
		    </propertyTab> 
			
	</propertyTabs>
</extension> 
<extension
	point="org.eclipse.ui.views.properties.tabbed.propertySections">
		<propertySections
			contributorId="org.eclipse.sirius.diagram.ui">
			<propertySection
		    	class="org.polarsys.capella.vp.atrium.ui.sections.Atrium_CFA_Atrium_CFA_Section"
		        filter="org.polarsys.capella.vp.atrium.ui.sections.Atrium_CFA_Atrium_CFA_Section"
		        id="Atrium_CFA.Atrium_CFA_Section"
		        tab="Atrium_CFA">
		        
		    </propertySection> 
		    			<propertySection
		    	class="org.polarsys.capella.vp.atrium.ui.sections.Atrium_Assumption_Atrium_Assumption_Section"
		        filter="org.polarsys.capella.vp.atrium.ui.sections.Atrium_Assumption_Atrium_Assumption_Section"
		        id="Atrium_Assumption.Atrium_Assumption_Section"
		        tab="Atrium_Assumption">
		        
		    </propertySection> 
		    			<propertySection
		    	class="org.polarsys.capella.vp.atrium.ui.sections.Atrium_DG_Atrium_DG_Section"
		        filter="org.polarsys.capella.vp.atrium.ui.sections.Atrium_DG_Atrium_DG_Section"
		        id="Atrium_DG.Atrium_DG_Section"
		        tab="Atrium_DG">
		        
		    </propertySection> 
		    </propertySections>
</extension>
<extension
	point="org.eclipse.ui.views.properties.tabbed.propertySections">
		<propertySections
			contributorId="org.polarsys.capella.core.data.capellamodeller.properties">
			<propertySection
		    	class="org.polarsys.capella.vp.atrium.ui.sections.Atrium_CFA_Atrium_CFA_Section"
		        filter="org.polarsys.capella.vp.atrium.ui.sections.Atrium_CFA_Atrium_CFA_Section"
		        id="Atrium_CFA.Atrium_CFA_Section"
		        tab="Atrium_CFA">
		        
		    </propertySection> 
		    			<propertySection
		    	class="org.polarsys.capella.vp.atrium.ui.sections.Atrium_Assumption_Atrium_Assumption_Section"
		        filter="org.polarsys.capella.vp.atrium.ui.sections.Atrium_Assumption_Atrium_Assumption_Section"
		        id="Atrium_Assumption.Atrium_Assumption_Section"
		        tab="Atrium_Assumption">
		        
		    </propertySection> 
		    			<propertySection
		    	class="org.polarsys.capella.vp.atrium.ui.sections.Atrium_DG_Atrium_DG_Section"
		        filter="org.polarsys.capella.vp.atrium.ui.sections.Atrium_DG_Atrium_DG_Section"
		        id="Atrium_DG.Atrium_DG_Section"
		        tab="Atrium_DG">
		        
		    </propertySection> 
		    </propertySections>
</extension>

 	
<extension 
	point="org.polarsys.capella.core.data.business.queries.MDEBusinessQueries">
				
	   <MDEBusinessQueries 
         class="org.polarsys.capella.vp.atrium.ui.queries.LinkedtoElementAssociationQuery" 
         id="org.polarsys.capella.vp.atrium.ui.queries.LinkedtoElementAssociationQuery"> 
   </MDEBusinessQueries> 


				
	   <MDEBusinessQueries 
         class="org.polarsys.capella.vp.atrium.ui.queries.AssumptionAssociationQuery" 
         id="org.polarsys.capella.vp.atrium.ui.queries.AssumptionAssociationQuery"> 
   </MDEBusinessQueries> 


				
	   <MDEBusinessQueries 
         class="org.polarsys.capella.vp.atrium.ui.queries.GoalAssociationQuery" 
         id="org.polarsys.capella.vp.atrium.ui.queries.GoalAssociationQuery"> 
   </MDEBusinessQueries> 


				
</extension>

		</plugin>